.container-fluid{
    background-color: purple;
    padding: 15px;
    margin-top: -10px;
}
.container-fluid a{
    color: white;
}
.dropdown-menu a{
    color: purple;
}
.container-fluid img{
    width: 35px;
    height: 35px;
    margin-right: 15px
}
.nav-item{
    margin-left: 20px;
}

.search{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lavender;
    padding: 10px;
}
.d-flex{
    width: 600px;
}
.btn-light{
    margin-right: 20px;
}

.carousel-inner img{
    height: 250px;
}



.sale{
    height: 300px;
    margin-top: 8px;
    padding: 10px;
    text-align: center;
    color: purple;
    background-color: lavender;
}
.cat{
    height: 300px;
    margin-top: 8px;
    padding: 10px;
    text-align: center;
    color: purple;
    background-color: lavender;
}

.suggest{
    height: 300px;
    margin-top: 8px;
    padding: 10px;
    text-align: center;
    color: purple;
    background-color: lavender;
}

.footer{
    height: 300px;
    margin-top: 8px;
    padding: 10px;
    text-align: center;
    background-color: purple;
    color: white;
}